{% load currency %}

<h2>Detailed overview</h2>

<p>Totaal in pot: {{ total_balance|format }}</p>

<h3>Deelnemers</h3>
<table>
  <tr>
    <th>Persoon</th>
    <th>Inleg</th>
    <th>Aantal keer meegedaan</th>
    <th>Balans</th>
  </tr>
  {% for person in people %}
  <tr>
    <td>{{ person }}</td>
    <td>&#8364;{{ person.deposit|format }}</td>
    <td>{{ person.get_times_joined }}</td>
    <td {% if person.has_debt %}style="color:red;"{% endif %}>&#8364;{{ person.get_balance|format }}</td>
  </tr>
  {% endfor %}
</table>

<h3>Boodschappen</h3>
<table>
  <tr>
    <th>Totaal</th>
    <th>Totale prijs</th>
    <th>Gemiddeld/keer</th>
    <th>Gemiddeld/lunch</th>
  </tr>
  <tr>
    <td>{{ groceries.count }}</td>
    <td>&#8364;{{ grocery_data.total_price|format }}</td>
    <td>&#8364;{{ grocery_data.average|format }}</td>
    <td>&#8364;{{ grocery_data.average_per_lunch|format }}</td>
  </tr>
</table>
